<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <input type="text" id="msg" name="msg">
    <input type="submit" id="send_button" value="전송">
    <input type="submit" id="out_button" value="방 나가기">

    <p id="here"></p>

    <script>
        let socket = new WebSocket("ws://localhost:8080/ws/chat");
        $( document ).ready(function() {
            socket.onopen = function() {
                socket.send(JSON.stringify({
                    "type":"ENTER",
                    "roomId": "[[${roomId}]]",
                    "sender":"[[${username}]]",
                    "message": "null"
                }));
            }

            socket.onmessage = function(event) {
                let msg = JSON.parse(event.data);
                $("#here").append(`<p>${msg.sender} : ${msg.message}</p>`);
            };

            socket.onclose = function(e) {
                console.log('socket closed');
            }

            socket.onerror = function(e) {
                console.log(e);
            }

            $("#send_button").on("click", function() {
                let msg = $("#msg").val();
                if (msg.length !== 0) {
                    socket.send(JSON.stringify({
                        "type":"TALK",
                        "roomId": "[[${roomId}]]",
                        "sender":"[[${username}]]",
                        "message": msg
                    }));
                }
                $("#msg").val('');
            });

            $("#out_button").on("click", function() {
                socket.send(JSON.stringify({
                    "type":"LEAVE",
                    "roomId": "[[${roomId}]]",
                    "sender":"[[${username}]]",
                    "message": "null"
                }));
                location.href="/chat";
            });
        });


        /*
        $( document ).ready(function() {
            let socket = new WebSocket("ws://localhost:8080/ws/chat");

            socket.send(JSON.stringify({
                "type":"ENTER",
                "roomId": "[[${roomId}]]",
                "sender":"[[${username}]]",
                "message": "k"
            }));

            socket.onopen = function() {
                $("#here").html("a");
                $("#send_button").on("click", function() {

                    if( $("#msg").val() !== 0 ) {
                        socket.send(JSON.stringify({
                            "type":"TALK",
                            "roomId": "[[${roomId}]]",
                            "sender":"[[${username}]]",
                            "message": "k"
                        }));
                    }

                    $("#msg").val('');
                });
            };

            socket.onmessage = function(event) {

            };

            socket.onclose = function() {
            };

            socket.onerror = function() {
            };
        });

        */


    </script>
</body>
</html>