<!DOCTYPE html>
<html lang="en">
<head>
    <title>Black</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="whiteTimer" id="whiteTimer">10:00</div>
<div class="chessBoard">
    <!--    8th     -->
    <div class="square white">
        <div class="piece rook" color="white">
            <img src="img/White-Rook.png" alt="Rook">
        </div>
    </div>
    <div class="square black">
        <div class="piece knight" color="white">
            <img src="img/White-Knight.png" alt="Knight">
        </div>
    </div>
    <div class="square white">
        <div class="piece bishop" color="white">
            <img src="img/White-Bishop.png" alt="Bishop">
        </div>
    </div>
    <div class="square black">
        <div class="piece king" color="white">
            <img src="img/White-King.png" alt="King">
        </div>
    </div>
    <div class="square white">
        <div class="piece queen" color="white">
            <img src="img/White-Queen.png" alt="Queen">
        </div>
    </div>
    <div class="square black">
        <div class="piece bishop" color="white">
            <img src="img/White-Bishop.png" alt="Bishop">
        </div>
    </div>
    <div class="square white">
        <div class="piece knight" color="white">
            <img src="img/White-Knight.png" alt="Knight">
        </div>
    </div>
    <div class="square black">
        <div class="piece rook" color="white">
            <img src="img/White-Rook.png" alt="Rook">
        </div>
        <div class="coordinate rank whiteText">1</div>
    </div>
    <!--    7th     -->
    <div class="square black">
        <div class="piece pawn" color="white">
            <img src="img/White-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square white">
        <div class="piece pawn" color="white">
            <img src="img/White-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square black">
        <div class="piece pawn" color="white">
            <img src="img/White-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square white">
        <div class="piece pawn" color="white">
            <img src="img/White-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square black">
        <div class="piece pawn" color="white">
            <img src="img/White-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square white">
        <div class="piece pawn" color="white">
            <img src="img/White-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square black">
        <div class="piece pawn" color="white">
            <img src="img/White-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square white">
        <div class="piece pawn" color="white">
            <img src="img/White-Pawn.png" alt="Pawn">
        </div>
        <div class="coordinate rank blackText">2</div>
    </div>
    <!--    6th     -->
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black">
        <div class="coordinate rank whiteText">3</div>
    </div>
    <!--    5th     -->
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white">
        <div class="coordinate rank blackText">4</div>
    </div>
    <!--    4th     -->
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black">
        <div class="coordinate rank whiteText">5</div>
    </div>
    <!--    3rd     -->
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white">
        <div class="coordinate rank blackText">6</div>
    </div>
    <!--    2nd     -->
    <div class="square white">
        <div class="piece pawn" color="black">
            <img src="img/Black-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square black">
        <div class="piece pawn" color="black">
            <img src="img/Black-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square white">
        <div class="piece pawn" color="black">
            <img src="img/Black-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square black">
        <div class="piece pawn" color="black">
            <img src="img/Black-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square white">
        <div class="piece pawn" color="black">
            <img src="img/Black-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square black">
        <div class="piece pawn" color="black">
            <img src="img/Black-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square white">
        <div class="piece pawn" color="black">
            <img src="img/Black-Pawn.png" alt="Pawn">
        </div>
    </div>
    <div class="square black">
        <div class="piece pawn" color="black">
            <img src="img/Black-Pawn.png" alt="Pawn">
        </div>
        <div class="coordinate rank whiteText">7</div>
    </div>
    <!--    1st     -->
    <div class="square black">
        <div class="coordinate whiteText">h</div>
        <div class="piece rook" color="black">
            <img src="img/Black-Rook.png" alt="Rook">
        </div>
    </div>
    <div class="square white">
        <div class="coordinate blackText">g</div>
        <div class="piece knight" color="black">
            <img src="img/Black-Knight.png" alt="knight">
        </div>
    </div>
    <div class="square black">
        <div class="coordinate whiteText">f</div>
        <div class="piece bishop" color="black">
            <img src="img/Black-Bishop.png" alt="Bishop">
        </div>
    </div>
    <div class="square white">
        <div class="coordinate blackText">e</div>
        <div class="piece king" color="black">
            <img src="img/Black-King.png" alt="King">
        </div>
    </div>
    <div class="square black">
        <div class="coordinate whiteText">d</div>
        <div class="piece queen" color="black">
            <img src="img/Black-Queen.png" alt="Queen">
        </div>
    </div>
    <div class="square white">
        <div class="coordinate blackText">c</div>
        <div class="piece bishop" color="black">
            <img src="img/Black-Bishop.png" alt="Bishop">
        </div>
    </div>
    <div class="square black">
        <div class="coordinate whiteText">b</div>
        <div class="piece knight" color="black">
            <img src="img/Black-Knight.png" alt="Knight">
        </div>
    </div>
    <div class="square white">
        <div class="coordinate blackText">a</div>
        <div class="piece rook" color="black">
            <img src="img/Black-Rook.png" alt="Rook">
        </div>
        <div class="coordinate rank blackText">8</div>
    </div>
</div>

<div id="alert">

</div>
<div class="blackTimer" id="blackTimer">10:00</div>
<script src="js/black.js"></script>
</body>
</html>