<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>White</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div>
    <div> username : <span th:text="${member2.username}"></span></div>
    <div> rating : <span th:text="${member2.rating}"></span></div>
    <div> win : <span th:text="${member2.win}"></span></div>
    <div> lose : <span th:text="${member2.lose}"></span></div>
</div>
<div class="blackTimer" id="blackTimer">Loading...</div>
<div class="chessBoard">
    <!-- Add the pawn div element -->
    <div class="square white">
        <div class="piece rook" color="black"  >
            <img src="img/Black-Rook.png" alt="pawn" >
        </div>
    </div>
    <div class="square black">
        <div class="piece knight" color="black" >
            <img src="img/Black-Knight.png" alt="pawn" >
        </div>
    </div>
    <div class="square white">
        <div class="piece bishop" color="black" >
            <img src="img/Black-Bishop.png" alt="pawn" >
        </div>
    </div>
    <div class="square black">
        <div class="piece queen" color="black" >
            <img src="img/Black-Queen.png" alt="pawn" >
        </div>
    </div>
    <div class="square white">
        <div class="piece king" color="black" >
            <img src="img/Black-King.png" alt="pawn" >
        </div>
    </div>
    <div class="square black">
        <div class="piece bishop" color="black" >
            <img src="img/Black-Bishop.png" alt="pawn" >
        </div>
    </div>
    <div class="square white">
        <div class="piece knight" color="black">
            <img src="img/Black-Knight.png" alt="pawn" >
        </div>
    </div>
    <div class="square black">
        <div class="coordinate rank whiteText">8</div>
        <div class="piece rook" color="black" >
            <img src="img/Black-Rook.png" alt="pawn" >
        </div>
    </div>
    <!-- ------------------------------------------------------------------------- -->

    <div class="square black">
        <div class="piece pawn" color="black"  >
            <img src="img/Black-Pawn.png" alt="pawn" >
        </div>

    </div>
    <div class="square white">
        <div class="piece pawn" color="black" >
            <img src="img/Black-Pawn.png" alt="pawn" >
        </div>

    </div>
    <div class="square black">
        <div class="piece pawn" color="black" >
            <img src="img/Black-Pawn.png" alt="pawn" >
        </div>

    </div>
    <div class="square white">
        <div class="piece pawn" color="black" >
            <img src="img/Black-Pawn.png" alt="pawn" >
        </div>

    </div>
    <div class="square black">
        <div class="piece pawn" color="black"  >
            <img src="img/Black-Pawn.png" alt="pawn" >
        </div>

    </div>
    <div class="square white">
        <div class="piece pawn" color="black"  >
            <img src="img/Black-Pawn.png" alt="pawn">
        </div>

    </div>
    <div class="square black">
        <div class="piece pawn" color="black"  >
            <img src="img/Black-Pawn.png" alt="pawn" >
        </div>

    </div>
    <div class="square white">
        <div class="coordinate rank blackText">7</div>

        <div class="piece pawn" color="black"  >
            <img src="img/Black-Pawn.png" alt="pawn" >
        </div>

    </div>
    <!-- ------------------------------------------------------------------------- -->
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black">
        <div class="coordinate rank whiteText">6</div>

    </div>
    <!-- ------------------------------------------------------------------------- -->

    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white">
        <div class="coordinate rank blackText">5</div>

    </div>
    <!-- ------------------------------------------------------------------------- -->

    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black">
        <div class="coordinate rank whiteText">4</div>

    </div>
    <!-- ------------------------------------------------------------------------- -->

    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white">
        <div class="coordinate rank blackText">3</div>
    </div>
    <!-- ------------------------------------------------------------------------- -->

    <div class="square white">
        <div class="piece pawn" color="white" >
            <img src="img/white-pawn.png" alt="pawn" >
        </div>
    </div>
    <div class="square black">
        <div class="piece pawn" color="white"  >
            <img src="img/white-pawn.png" alt="pawn" >
        </div>
    </div>
    <div class="square white">
        <div class="piece pawn" color="white">
            <img src="img/white-pawn.png" alt="pawn" >
        </div>
    </div>
    <div class="square black">
        <div class="piece pawn" color="white" >
            <img src="img/white-pawn.png" alt="pawn" >
        </div>
    </div>
    <div class="square white">
        <div class="piece pawn" color="white" >
            <img src="img/white-pawn.png" alt="pawn" >
        </div>
    </div>
    <div class="square black">
        <div class="piece pawn" color="white" >
            <img src="img/white-pawn.png" alt="pawn" >
        </div>
    </div>
    <div class="square white">
        <div class="piece pawn" color="white" >
            <img src="img/white-pawn.png" alt="pawn" >
        </div>
    </div>
    <div class="square black">
        <div class="coordinate rank whiteText">2</div>

        <div class="piece pawn" color="white" >
            <img src="img/white-pawn.png" alt="pawn" >
        </div>
    </div>
    <!-- ------------------------------------------------------------------------- -->

    <div class="square black">
        <div class="coordinate whiteText">a</div>

        <div class="piece rook" color="white">
            <img src="img/White-Rook.png" alt="pawn" >
        </div>
    </div>
    <div class="square white">
        <div class="coordinate blackText">b</div>

        <div class="piece knight" color="white">
            <img src="img/White-Knight.png" alt="knight" >
        </div>
    </div>
    <div class="square black">
        <div class="coordinate whiteText">c</div>
        <div class="piece bishop" color="white">
            <img src="img/White-Bishop.png" alt="bishop">
        </div>
    </div>
    <div class="square white">
        <div class="coordinate blackText">d</div>
        <div class="piece queen" color="white">
            <img src="img/White-Queen.png" alt="queen">
        </div>
    </div>
    <div class="square black">
        <div class="coordinate whiteText">e</div>
        <div class="piece king" color="white">
            <img src="img/White-King.png" alt="king">
        </div>
    </div>
    <div class="square white">
        <div class="coordinate blackText">f</div>
        <div class="piece bishop" color="white" >
            <img src="img/White-Bishop.png" alt="bishop" >
        </div>
    </div>
    <div class="square black">
        <div class="coordinate whiteText">g</div>
        <div class="piece knight" color="white" >
            <img src="img/White-Knight.png" alt="knight">
        </div>
    </div>
    <div class="square white">
        <div class="coordinate rank blackText">1</div>
        <div class="coordinate blackText">h</div>
        <div class="piece rook" color="white" >
            <img src="img/White-Rook.png" alt="pawn" >
        </div>
    </div>
</div>

<div id="alert">

</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5  id="staticBackdropLabel" class="modal-title">Loading...</h5>
            </div>
            <div class="modal-body">
                <div>
                    <span th:text="${member1.username}"></span><span> vs </span>
                    <span th:text="${member2.username}"></span>
                </div>
                <div>
                    <span id="myRating" th:text="${member1.rating}"></span>
                    <span>(</span><span id="changeRating"></span><span>)</span>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="toLobby()" type="button" class="btn btn-primary">Lobby</button>
            </div>
        </div>
    </div>
</div>

<div class="whiteTimer" id="whiteTimer">Loading...</div>
<div>
    <div> username : <span th:text="${member1.username}"></span></div>
    <div> rating : <span th:text="${member1.rating}"></span></div>
    <div> win : <span th:text="${member1.win}"></span></div>
    <div> lose : <span th:text="${member1.lose}"></span></div>
</div>

<script th:inline="javascript">
    let time = [[${time}]];
    let gameId = [[${gameId}]];
    console.log(time);
</script>
<script src="js/white.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
